*{
  margin:0%;
  padding: 0%;
  text-decoration: none;
}

a {
  color: #6cad55;
}

a:hover {
  color: #548642;
}

.PopUpH2 {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 20px;
}

.PopUpH3 {
  font-size: 1.4rem;
  font-weight: 500;
}

.PopUpShell {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  position: fixed;
  bottom: 0;
  left: 0;
  height: 89.6vh;
  width: 100vw;
  background-color: #2a2a2ae5;
}

.ClosePopUp {
  display: flex;
  width: 80%;
  justify-content: flex-end;
}

.ClosePopUp--button {
  height: 44px;
  width: 44px;
  font-size: 2rem;
  border: 2px solid white;
  border-radius: 50%;
  color: white;
  background-color: #2a2a2a;
  transition-duration: 0.3s;
}

.ClosePopUp--button:hover {
  color: #2a2a2a;
  background-color: white;
  transition-duration: 0.3s;
}

.PopUpBox {
  width: 70%;
  height: 90%;
  background: white;
  overflow: auto;
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
}

.PopUpHeaderImg {
  width: 100%;
}

.PopUpTitle {
  text-align: center;
  margin: 6% 8% 2% 8%;
  font-size: 3rem;
}

.popUpDescription {
  text-align: left;
  margin: 1% 8% 2% 8%;
  background-color: white;
}

.PopUP-Ratings {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 1% 8% 6% 8%;
}

.PopUP-Ratings h2 {
  text-align: center;
  width: 100%;
}

.PopUP-Ratings li {
  display: flex;
  justify-content: space-evenly;
}

.PopUP-Ratings h3 {
  text-align: left;
  width:110px;
}

.PopUP-Ratings img {
  width: 90px;
}

.PopUp-Ref {
  padding: 60px 40px 60px 40px;
  background-color: #2a2a2a;
  color: white;
}

.InstructionsSection {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 6% 8% 6% 8%;
}

.InstructionsText {
  width: 53%;
  text-align: left;
  margin-right: 5%;
}

.InstructionsText-RightColumn {
  width: 53%;
  text-align: left;
  margin-left: 5%;
}

.InstructionsImage {
  width: 42%;
}

.InstructionsImage img {
  width: 100%;
}

.lightGreen-bg {
  background-color: #6cad5515;
}




@media only screen and (max-width: 600px) {
  .PopUpShell{
    z-index: 10;
    justify-content: space-between;
  }
  .PopUpBox{
    width: 100%;
    height: 100%;
    background: white;
    overflow: auto;
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
  }
  .ClosePopUp{
    position: absolute;
    display: flex;
    width: 100%;
    justify-content: flex-end;
  }
}
