*{
  margin:0%;
  padding: 0%;
  text-decoration: none;
}
.BrowsePage{
  max-width: 100vw;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
}

.nav-bar{
  height: 8vh;
  width: 90vw;
}

.fix-nav{
  position: fixed;
  align-items: center;
  justify-content: space-between;
  display:flex;
  height: 8vh;
  width: 100vw;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  border-bottom: grey solid thin;
  opacity: 0.9;
}

.nav-logo{
  text-align: left;
  padding-left: 40px;

}

.nav-container{
  display: inline;
  padding-right: 40px;
}
.nav-container-li{
  display: inline;
  margin: 10px;
}

.hero-image{
  width: 100%;
  height: 90vh;
}

.CardContainer{
  display: flex;
  justify-content: center;
  height: 95%;
}

.Cardbox__centreScreen{
  width: 80%;
  height: 100vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}
.Cardbox__centreScreen h1:nth-child(1){
  align-self: flex-start;
  height: 54px;
}
.Cardbox__centreScreen--Title{
  text-align: left;
  height: 5vh;
  min-width:100% ;
  background-color: #ceefcd;
background-image: linear-gradient(90deg, #ceefcd 0%, #ffffff 100%);
padding-left: 5px;
box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.Cardbox__centreScreen--allCards{
  width: 23%;
  height:25% ;
  border: solid 2px rgb(240, 240, 240) ;
  background-color: white;
}
.Cardbox__centreScreen--allCards:hover{
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  cursor: pointer;
  
}
.Cardbox__centreScreen--allCards:hover .mainImage{
  width: 99%;
  height: 64%;
  border:#1B860B dotted thin ;
}
.mainImage{
  width: 100%;
  object-fit: cover;
  height: 65%;
}
.CardTitle{
  height: 15%;
  font-size: 1.3rem;
}
.Cardbox__centreScreen--allCards--leafContainer{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  height: 15%;
}

.leafBox-h6{
  width: 33%;
  height: 50%;
  font-size: 0.7rem;
}
.leafimage{
  max-width: 100%;
  height: 70%;
}

/* above is the card section */

.filterDropdown {
  width: 100px;
  right: 0%;
  height: 100%;
  
}
.filterDropdown--btn {
  color: black;
  padding: 16px;
  font-size: 1.2rem;
  border: none;
  width: 100%;
  background-color: #ceefcd;
  background-image: linear-gradient(90deg,#ffffff  0%, #bae6b9 100%);
 
}

.filterDropdown-content {
  display: none;
  position: absolute;
  min-width: 100px;
  z-index: 1;
}

.filterDropdown-content button {
  color: black;
  height: 84px;
  width: 100%;
  padding-top: 12px ;
  text-decoration: none;
  display: block;
  background-color: #ceefcd;
  background-image: linear-gradient(90deg,#ffffff  0%, #bae6b9 100%);
  font-size: 1.1rem;
  border: thick rgb(240, 240, 240) solid;
  transition:0.7s;
  
}
.filterDropdown-content button:hover{
  background-color: #CEEFCD;
  background-image: linear-gradient(90deg,#bae6b9  0%,  #ffffff 100%);
  font-size: 1.3rem;
  font-weight: 500;
}

.filterDropdown:hover .filterDropdown-content {display: block;}
.filterDropdown:hover .filterDropdown--btn {background-color: #CEEFCD;}

/* above is the filter */


